html {
    height: 200%;
}

body {
    background-color: rgb(75, 73, 73);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin: auto;
    width: 1004px;
}

header {
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center;
    padding: 14px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 31, 31);
    text-decoration: none;
    padding: 0 9px;
    font-size: 20px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.555);
    cursor: pointer;
    padding: 15px;
    transition: ease-in-out;
}

main {
    height: 1500px;
    text-align: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px 40px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background: transparent;
    cursor: pointer;
    color: white;
}